* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b2e;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    background-color: #1c1c24;
}
/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
/* Header */
.header__container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    color: #fff;
    font-family: DM Sans;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nav-item {
    padding: 8px 20px;
}

.nav-item__link {
    color: #b0b0b0;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.2s ease-in;
}
.nav-item__link:hover {
    color: #ff974a;
}
.btn__header-login {
    margin-right: 16px;
    color: #fff;
    font-size: 12px;
    padding: 12px 37px;
    border-radius: 8px;
    border: 1px solid #fc5a5a;
    transition: color 0.2s ease-in;
}
.btn__header-login:hover {
    color: #fc5a5a;
    background-color: #d2efff;
}
.btn__header-started {
    padding: 12px 20px;
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border-radius: 8px;
    background: #fc5a5a;
    transition: color 0.2s ease-in;
}
.btn__header-started:hover {
    color: #fc5a5a;
    background-color: #d2efff;
}
/* Hero */
.hero {
    margin-top: 40px;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
}
.hero-menu {
    text-align: center;
}
.menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 32px;
}
.custom-icon {
    font-size: 20px;
    color: #fff;
    transition: color 0.2s ease-in;
}
.custom-icon:hover {
    color: #ff974a;
}
.menu-text__down {
    display: inline-block;
    color: #d2efff;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 6px;
    writing-mode: vertical-lr;
}
.menu-arrow__down {
    display: block;
    width: 20px;
    height: 7px;
    margin-top: 20px;
}
.hero-content__title {
    width: 522px;
    color: #fff;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 74px;
}
.hero-content__desc {
    margin-top: 12px;
    width: 368px;
    color: #b0b0b0;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.hero-content__btn {
    margin-top: 40px;
    padding: 17px 34px;
    border-radius: 8px;
    background: #fc5a5a;
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    transition: color 0.2s ease-in;
}
.hero-content__btn:hover {
    color: #fc5a5a;
    background-color: #fff;
}
.hero-img {
    width: 454px;
    height: 443px;
}
/* Features */
.features {
    margin-top: 120px;
}
.feature__inner {
    display: flex;
    justify-content: space-around;
}
.feature-img {
    position: relative;
}
.feature__img {
    width: 448px;
    height: 436px;
    margin-left: 40px;
}
.feature__img-dot {
    display: flex;
    width: 204px;
    height: 204px;
    position: absolute;
    z-index: -1;
    left: 0;
    top: -10%;
}
.feature-email {
    margin-bottom: 8px;
    color: #79d861;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.feature-title {
    width: 409px;
    color: #fff;
    font-family: DM Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    margin-bottom: 20px;
}
.feature-desc {
    width: 328px;
    color: #b0b0b0;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 28px;
}
.feature-desc.last {
    width: 380px;
    margin-bottom: 48px;
}
.feature-btn {
    margin: 0;
}
/* Service */
.service {
    margin-top: 80px;
}

.service-heading {
    margin-top: 80px;
    margin-left: 12%;
}
.service-info {
    color: #79d861;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.service-title {
    width: 409px;
    color: #fff;
    font-family: DM Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
}
.service-content {
    margin: 64px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 40px;
}
.service-item {
    display: flex;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 170px;
    border-radius: 8px;
    border: 1px solid #292932;
    transition: background-color 0.2s ease-in;
}
.service-item:hover {
    background-color: #9999b0;
}
.service-item__icon {
    width: 96px;
    height: 96px;
}
.service-item__title {
    color: #fff;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.service-item__desc {
    width: 260px;
    color: #fff;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    opacity: 0.75;
}
/* Help */
.help {
    margin-top: 80px;
}
.help-heading {
    margin-top: 80px;
    text-align: center;
}
.help-title {
    margin-bottom: 8px;
    color: #79d861;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.help-desc {
    color: #fff;
    font-family: DM Sans;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
}
.help-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    column-gap: 138px;
}
.help-content__img {
    width: 426px;
    height: 377px;
}
/* Popups */
.popups {
    margin-top: 80px;
}
.popups-heading {
    margin-top: 80px;
    margin-left: 12%;
}
.popups-title {
    color: #79d861;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.popups-desc {
    width: 409px;
    color: #fff;
    font-family: DM Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 129.412% */
}
.popups-images {
    text-align: center;
    margin-top: 60px;
}
.popups-img {
    width: 980px;
    height: 179px;
}
/* Work */
.work {
    margin-top: 80px;
}
.work-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.work-title {
    color: #79d861;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.work-desc {
    width: 510px;
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
}
